{% extends "base.html" %}
{% load static %}

{% block css_files %}
     <link rel="stylesheet" href="{% static "huseyinweb/css/style.css" %}">
     <link rel="stylesheet" href="{% static "huseyinweb/css/main.css" %}">
{% endblock  %}

{% block content %}

     <header class="my-5 mx-auto">
          <div class="header-content container">
               <h1 class="header-title">
                    <span class="upper-title">Merhaba</span>
                    <span class="sub-title">Ben Hüseyin</span>
               </h1>
               <p class="header-subtitle my-3">Bilgisayar Mühendisliği Öğrencisi</p>
          </div>
     </header>


     <section class="about">
          <div class="row">
               <div class="col-md-2"></div>
               <div class="col-md-4 about-img-holder mx-auto">
                    <img src="{% static "huseyinweb/img/profile.jpeg" %}" class="about-image " alt="">
               </div>
               <div class="about-caption col-md-6 my-auto">
                    <h2 class="section-title mb-3">Ben kimim?</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aliquid ad provident aut fuga animi soluta quae eos non cupiditate voluptates dolorem, doloremque quos dicta quibusdam impedit iure nemo a iste 
                        <br>culpa! Quasi quibusdam hic recusandae delectus velit officiis explicabo voluptatibus! Nemo esse similique, voluptates labore distinctio, placeat explicabo facilis molestias, blanditiis culpa iusto voluptatem ratione eligendi a, quia temporibus velit vero ipsa sint ex voluptatum expedita aliquid! Debitis, nam!              
                    </p>
                    <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
               </div>   
          </div>
     </section>

     <section class="skills">
          <div class="row my-5">
               <div class="col-md-6 why_me">
                    <h2 class="why_me_title">Neden Ben?</h2>
                    <p class="why_me_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dolorem, totam inventore eveniet debitis maxime incidunt! Error quidem neque doloribus sunt vel maiores est facere dolor doloremque sit quia dicta, officiis deserunt enim a voluptate saepe animi debitis aperiam provident ad! Cupiditate non, odit doloremque ea porro maiores debitis quia.Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, necessitatibus voluptas sint ex laboriosam deserunt blanditiis aut harum iure alias provident sunt tenetur, at accusamus voluptatem eaque unde voluptate magni?</p>
               </div>
               <div class="col-md-6 ">
                    <h2 class="why_me_title">Yetenekler</h2>
                    <div class="row">
                         <div class="col-md-6">
                              <h3 class="skill_title">Yazılım</h3>
                              <p class="skill_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, et.</p>
                         </div>
                         <div class="col-md-6">
                              <h3 class="skill_title">Yazılım</h3>
                              <p class="skill_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, et.</p>
                         </div>
                    </div>
                    <div class="row">
                         <div class="col-md-6">
                              <h3 class="skill_title">Yazılım</h3>
                              <p class="skill_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, et.</p>
                         </div>
                         <div class="col-md-6">
                              <h3 class="skill_title">Yazılım</h3>
                              <p class="skill_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis, et.</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>

     <section class="projects">
          <h1 class="projects_title">Projeler</h1>
          <div class="row project_card">
               <div class="project_card_header col-md-4">
                    <img class="project_image" src="{% static "huseyinweb/img/profile.jpeg" %}" alt="">
               </div>
               <div class="project_card_body col-md-8 my-auto">
                    <h4 class="project_card_title">Proje 1</h4>
                    <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa odit temporibus magni assumenda beatae nostrum distinctio repellat ratione est, architecto expedita alias amet aperiam a laborum reprehenderit aut itaque quia repudiandae consequuntur eligendi eaque at. Dolor maiores, quaerat hic, necessitatibus quibusdam totam porro eligendi nulla veritatis ratione perspiciatis! Sed, facilis?</p>
                    <button class="btn-rounded btn btn-outline-primary mt-4"><a href="#">Detay</a></button>
               </div>
          </div>
          <div class="row project_card">
               <div class="project_card_header col-md-4">
                    <img class="project_image" src="{% static "huseyinweb/img/profile.jpeg" %}" alt="">
               </div>
               <div class="project_card_body col-md-8 my-auto">
                    <h4 class="project_card_title">Proje 1</h4>
                    <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa odit temporibus magni assumenda beatae nostrum distinctio repellat ratione est, architecto expedita alias amet aperiam a laborum reprehenderit aut itaque quia repudiandae consequuntur eligendi eaque at. Dolor maiores, quaerat hic, necessitatibus quibusdam totam porro eligendi nulla veritatis ratione perspiciatis! Sed, facilis?</p>
                    <button class="btn-rounded btn btn-outline-primary mt-4"><a href="#">Detay</a></button>
               </div>
          </div>
          <div class="row project_card">
               <div class="project_card_header col-md-4">
                    <img class="project_image" src="{% static "huseyinweb/img/profile.jpeg" %}" alt="">
               </div>
               <div class="project_card_body col-md-8 my-auto">
                    <h4 class="project_card_title">Proje 1</h4>
                    <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa odit temporibus magni assumenda beatae nostrum distinctio repellat ratione est, architecto expedita alias amet aperiam a laborum reprehenderit aut itaque quia repudiandae consequuntur eligendi eaque at. Dolor maiores, quaerat hic, necessitatibus quibusdam totam porro eligendi nulla veritatis ratione perspiciatis! Sed, facilis?</p>
                    <button class="btn-rounded btn btn-outline-primary mt-4"><a href="#">Detay</a></button>
               </div>
          </div>
     </section>

     <section class="experience">
          <div class="experiences">
          </div>
     </section>

     <section class="contact">
          <div class="contact_header">
               <h1 class="contact_header_title">İletişim</h1>
               <h3 class="contact_header_subtitle">Daha Detaylı Bilgi Almak İçin İletişime Geç</h3>
               <p class="contact_header_text">Projelerim, stajlarım, gelişimim hakkında daha detaylı bilgi almak veya bu yolda bana tavsiyelerini iletmen için seni bekliyorum.</p>
          </div>
          <div class="contact_main row">
               <div class="col-md-4">
                    <ul class="social_medias">
                         <li class="social_medias_item">
                              <a href="#">Instagram</a>
                         </li>
                         <li class="social_medias_item">
                              <a href="#">Linkedin</a>
                         </li>
                         <li class="social_medias_item">
                              <a href="#">Twitter</a>
                         </li>
                         <li class="social_medias_item">
                              <span>Telefon Numarası</span>
                         </li>
                         <li class="social_medias_item">
                              <a href="#">Mail</a>
                         </li>
                    </ul>
               </div>
               <div class="col-md-8">
                    <form action="" class="contact_form col-md-10 m-auto">
                         <div class="form_row">
                              <div class="form-group col-sm-6">
                                   <input type="text" size="50" class="form-control" placeholder="İsim" required>                 
                               </div>
                               <div class="form-group col-sm-6">
                                   <input type="email" class="form-control" placeholder="Mail Adresi"requried>                 
                               </div>
                               <div class="form-group col-sm-12">
                                   <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="Yorum veya tavsiyeleriniz"></textarea>
                               </div>
                               <div class="form-group col-sm-12 mt-3">
                                   <input type="submit" value="Mesajını Gönder" class="btn btn-outline-primary rounded">                  
                               </div>
                         </div>
                    </form>
               </div>
          </div>
     </section>

     <!-- colors -->
               <div class="row">
                    <div class="col-md-2" style="background: #EAF1F7">asd</div>
                    <div class="col-md-3" style="background: #C5D7ED">asd</div>
                    <div class="col-md-2" style="background: #A6C4E0">asd</div>
                    <div class="col-md-3" style="background: #6E98BA">asd</div>
                    <div class="col-md-2" style="background: #334F70">asd</div>
               </div>

     <!-- colors end -->
{% endblock  %}