<nav class = "_navbar">
     <div class="row py-4">
          <div class="col-md-2  text-center my-auto">
               <h1>LOGO</h1>
          </div>
          <div class="col-md-10">
               <header class="d-flex justify-content-center py-3">
                    <ul class="nav nav-pills">
                      <li class="nav_link mx-1"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
                      <li class="nav_link mx-1"><a href="#" class="nav-link">Ben kimim?</a></li>
                      <li class="nav_link mx-1"><a href="#" class="nav-link">Özellikler</a></li>
                      <li class="nav_link mx-1"><a href="#" class="nav-link">Projeler-Sertifikalar</a></li>
                      <li class="nav_link mx-1"><a href="#" class="nav-link">İletişim</a></li>
                    </ul>
               </header>
          </div>

     </div>

</nav>
