{% load static %}

<nav class = "_navbar">
     <div class="row menu">
          <div class="col-md-4  text-center ">
               <a href="index"><img class="navbar_logo" src="{% static "huseyinweb/img/logo.png" %}" height="200px" alt=""></a>
               
          </div>
          <div class="col-md-8">
               <header class="py-3 nav_header">
                    <ul class="nav nav-pills navigation">

                         <!--<li class="nav_link mx-1"><a href="index.html#first_header" class="nav-link active" aria-current="page">Home</a></li>-->
                         <li class="nav_link mx-1"><a href="index" class="nav-link">Ana Sayfa</a></li>

                    </ul>
               </header>
          </div>

     </div>

</nav>
